body{
    font-family: 'Signika Negative', sans-serif;
    margin:0%;
}
/*skip part*/
h3{
    font-size:60px;
    padding-top: 100px;
}
.half-sector{
    width: 50%;
    padding-left:10%;
}
.flex{
    display: flex;
    margin-bottom: 10px;
}
.pic-edit{
    height: 40;
    width: 70%;
    padding-bottom: 80px;  
}
.button{
    border: 5px;
    padding: 10px ;
    text-decoration: none;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 255, 0.41), rgb(0, 183, 255));
    font-weight: 800;
}

/* about */
#mid{
    padding-right: 60px;
}
.back-img{
    background-image: url(eat-healthy-main/eat-healthy-main/images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* receipies */
.t-aline{
    text-align: center;
    padding:60px;
    background-color: aquamarine;
    font-size:20px;
}
.food-box{
    border: 60px;
    padding: 10px 20px 20px 30px;
    border-color: blueviolet;
    border-radius: 10px;

}
/* footer */
.foot{
    background-color: black;
   color: white;
   padding: 50px;
   text-align: center;
}
