body{
    font-family: 'Signika Negative', sans-serif;
    margin:0%;
}
/*skip part*/
h3{
    font-size:60px;
    padding-top: 100px;
}
.half-sector{
    width: 50%;
    padding-left:10%;
}
.flex{
    display: flex;
    margin-bottom: 10px;
}
.pic-edit{
    height: 40;
    width: 70%;
    padding-bottom: 80px;  
}
.button{
    border: 5px;
    padding: 10px ;
    text-decoration: none;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 255, 0.41), rgb(0, 183, 255));
    font-weight: 800;
}

/* about */
#mid{
    padding-right: 60px;
}
.back-img{
    background-image: url(eat-healthy-main/eat-healthy-main/images/shapes/7.png);
    background-repeat: no-repeat;
    background-size:cover;  
}
.picture{
    height: 10%;
    width: 60%;
    padding-bottom: 80px;  
}

/* receipies */
.t-aline{
    text-align: center;
    padding:60px;
    font-size:20px;
}
.padding-img{
    padding-left:30px ;
    padding-right:30px ;
    text-align: left;
}
.food-box{
   box-shadow: 10px 10px 30px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
/* 700k part */
.bdr{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
    border: 80px;
    padding: 10px;
   font-weight: 800;
}
.last-box{
    margin-top: 40px;
    padding: 10px 30px 10px 400px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 10px 10px 10px 10px gainsboro;
    border-radius: 40px;
    margin-bottom: 40px;
}
/* footer */
.foot{
    background-color: black;
   color: white;
   padding: 50px;
   text-align: center;
}
.foot span{
    color: chocolate;
}